---
import "../styles/global.css";
// Component Imports
import Button from "../components/Button.astro";
import Counter from "../components/Counter";
const someProps = {
  count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <main class="grid h-screen place-items-center content-center">
      <Button>Tailwind Button in Astro!</Button>
      <a href="/markdown-page" class="p-4 underline"
        >Markdown is also supported...</a
      >
      <Counter {...someProps} client:visible>
        <h1>Hello, React!</h1>
      </Counter>
    </main>
  </body>
</html>
